<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<!-- begin row 2. -->

<a href= "Top"></a>
<div class="jumbotron jumbotron-fluid" style="position:relative; ">
    <img src="/jetty.jpg" class="panel-image-preview"style="position:absolute; top:0; bottom:0;" >
    <%= image_tag current_user.avatar.url %>
    <p class="lead"></p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body"> 
            <h5 style="color: grey; font-size: 125%;">Explore</h5>
            <p style="opacity: 0.5; font-size: 90%;">
              This page aggregates posts from ALL users. This means that you can find new people to follow,
              and your posts will also appear here so other people can see your opinions and interests and follow you
              if they chose.
            </p>
          </div>
       </div>

            
     <div>
     <%= render '/components/post_form' %>
    </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
        <h6><%= current_user.username %></h6>
           <h6>Followers</h6>
           <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.followers.count %></h6>
          </div>
        </div>

      <br>
       <div class="card">
         <div class="card-body">
             <p>Trends.</p>
             <a href="">#Trend #1</a><br>
                <span style="color: grey;">31k Posts</span><br><br>
             <a href="">#Trend #2</a><br>
                <span style="color: grey;">25k Posts</span><br><br>
             <a href="">#Trend #3</a><br>
             <span style="color: grey;">16k Posts</span><br><br>
           </div>
          </div>
    </div>

    <div class="col-7">
        <p>Questions.</p>
        <% for @p in @posts %>
      <div class="card">
        <div class="card-body">
            <div class="col-sm-11">
                <p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %></a></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
                
                <%= link_to  @p.content, @p %>
               
             </div>            
            

             <div class="col-sm-12">
             <p class="fontawe-links">                                
                   <%= link_to Yes_post_path(@p.id), method: :put do %>
                   <i class="fa fa-arrow-up" aria-hidden="true">Yes</i>
                   <%= @p.get_upvotes.size %>
                   <% end %>
                   <%= link_to No_post_path(@p.id), method: :put do %>
                   <i class="fa fa-arrow-down" aria-hidden="true">No</i>
                   <%= @p.get_downvotes.size %>
                   <%=  line_chart [
                                    {name: "Yes", data: @p.get_upvotes.group_by_day(:created_at).count},
                                    {name:  "No", data: @p.get_downvotes.group_by_day(:created_at).count}
                                   ] %> 
                   <% end %>
                   <%= @p.comments.count%> Comments.
                   <br>
                   <br>
                   <%= render 'comments/comment' %> 

                 
                  
                  
                </p>
             </div>  
        </div>
      </div>
        <% end  %>
    </div>
    
    <div class="col">
      <div class="card">
        <div class="card-body">
               <h5>Who to follow</h5>
                <% for @u in @toFollow do %>
                <p><a href="/user/<%= @u.username %>"><%= @u.username %></a></p>
                <% end %>     
        </div>
      </div>
    </div>
   </div>

        
   