<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body"><p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@post.user_id).username %>"><%= User.find(@post.user_id).username %></a></span> <span class="post-creation">- <%= @post.created_at.to_formatted_s(:short) %></span></p>
                               <p class="post-content"><%= @post.content %></p>
        </div>
      </div>
    

<div class="col-sm-12">
  <p class="fontawe-links">                   
      <%= link_to Yes_post_path(@post.id), method: :put do %>
      <i class="fa fa-arrow-up" aria-hidden="true">Yes</i>
      <%= @post.get_upvotes.size %>
      <% end %>
      <%= link_to No_post_path(@post.id), method: :put do %>
      <i class="fa fa-arrow-down" aria-hidden="true">No</i>
      <%= @post.get_downvotes.size %>
      <%=  line_chart [
                       {name: "Yes", data: @post.get_upvotes.group_by_day(:created_at).count},
                       {name:  "No", data: @post.get_downvotes.group_by_day(:created_at).count}
                      ] %> 
      <% end %>
  </p>
</div>

<div>
<%= render 'comments/comment' %>
<%= render 'comments/form' %>
</div>